.lg {
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    /* border: 1px solid slateblue; */
    border-radius: 12px;
    text-align: start;
    margin-top: 12px;
}

.mf,
.mp,
.mtp,
.mfp,
.share {
    text-align: start;
    margin-right: 14px;
    height: 30px;
    width: 30px;
}