.navbar {
    object-fit: contain;
}

.logo {
    height: 3%;
    width: 3%;
}

.center {
    /* margin-left: 20%; */
    margin-left: 10%;
    /* border:1px solid red; */
    text-align: center;
    /* : center; */
}

.profile {
    height: 3%;
    width: 3%;
}

.bell {
    height: 3%;
    width: 3%;

}