body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.n {
  border: 2px solid royalblue;
  /* margin-left: 122px; */
  /* object-fit:scale-down; */
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}

.center {
  display: flex;
  flex-direction: column;
  /* border: 2px solid rebeccapurple; */
  /* align-items: center; */
}

.main {
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 4px solid rosybrown; */
}
